.boton{
    align-items: center;
    display: flex;
    margin-left: 45%;
    width: 33.33%;
}

.btn_inicio{
    width: 110px;
    height: 50px;
    margin: 0 30px;
    transition: 1000ms;
    color:  #2A7AE4;
    border: 2px solid #2A7AE4;
    background-color: #ffffff;
    font-weight: bold;
}

.btn_inicio:hover{
    background-color: #2A7AE4;
    color: #ffffff;
    border: 2px solid #ffffff;
    transform: scale(1.1);
    cursor: pointer;
    font-size: 18px;
}

@media (min-width: 0px) and (max-width: 1000px) {
    .btn_inicio{
    width: 55px;
    justify-content: center;
    align-items: center;
    }
}